.logo{
    display: inline-block;
    color: $color-2;
    font-family: $font-1;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
    position: fixed;
    left: 2rem;
    top: 25px;
}
.logoActive{
    display: inline-block;
    color: $color-1;
    font-family: $font-1;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
    position: fixed;
    left: 2rem;
    top: 25px;
}