.power-btn{
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $color-1;
    padding: 0.3rem;
    border-radius: 50%;
    border: 1px solid #000;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;

    &:hover{
        background-color: red;
        box-shadow: 0 0 8px 6px red;
    }
}