.lighttheme{
    background-color: #FCF6F4;
    color: #000000;
    height: 100vh;
    width: 100vw;
    font-family: $font-1;
    overflow: hidden;
    position: relative;
    
    h2,h3,h4,h5,h6{
        font-family: $font-2;
        font-weight: 500;
    }
}

.darktheme{
    background-color: #000000;
    color: #FCF6F4;
    height: 100vh;
    width: 100vw;
    font-family: $font-1;

    overflow: hidden;
    position: relative;
    
    h2,h3,h4,h5,h6{
        font-family: $font-2;
        font-weight: 500;

    }
}