.container-work{
    position: relative;
    background-color: $color-2;
    height: 400vh;
    display: flex;
    overflow: hidden;

    .work-back{
        position: absolute;
        top: 11%;
        left: 51%;
        font-family: $font-1;
        text-transform: uppercase;
        font-size: calc(4rem + 4vw);
        font-weight: bold;
        color: white;
        opacity: 0.1;
    }

    .container-card {
        position: fixed;
        top: 12rem;
        left: calc(6rem + 15vw);
        display: flex;
        color: white;
    }
}